[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
flask-migrate = "*"
mysql-connector = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
flask-script = "*"
pymysql = "*"
flask-moment = "*"
flask-restful = "*"
flask-marshmallow = "*"
cryptography = "*"
uuid = "*"
werkzeug = "*"
flask-jwt = "*"
flask-cors = "*"
gunicorn = "*"
marshmallow-sqlalchemy = "*"

[requires]
python_version = "3.8"

[scripts]
db = "python app/manage.py db"
